body{
  font-family: 'Open Sans', sans-serif;
  min-height: 400px;
  color: white;
}

.table {
  font-family: Arial;
}

#logobrand{
  height: 60px;
}

.masthead {
  height: 100vh;
  min-height: 500px;
  background:
  linear-gradient(
    rgba(40,40,40,0) 50%,
    rgba(20,20,20,1)
    ),
    url(/static/header-pizza.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.masthead h1 {
  font-size: 3rem;
}

.navbar-toggler {
  border: none;
}

#pizza {
  height: 100%;
  min-height: 500px;
  padding-bottom: 50px;
  /* background-image: url(/static/pizza-doodle.png); */
  background-color: rgb(20,20,20);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-top: 5px solid rgb(207, 0, 6);
  border-bottom: 5px solid rgb(207, 0, 6);
}

#grill {
  height: 100%;
  min-height: 500px;
  padding-bottom: 50px;
  /* background-image: url(/static/grill-doodle.png); */
  background-color: rgb(20,20,20);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-bottom: 5px solid rgb(207, 0, 6);
}
#thai {
  height: 100%;
  min-height: 500px;
  padding-bottom: 50px;
  /* background-image: url(/static/thai-doodle.png); */
  background-color: rgb(20,20,20);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-bottom: 5px solid rgb(207, 0, 6);
}

#kontakt {
  height: 100%;
  min-height: 350px;
  padding-bottom: 30px;
  background-color: rgb(20,20,20);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-bottom: 1px solid white;
}

/* Change the map to an address if the screen is to small to display the full map */

#show_address{
  display: none;
}

#show_map{
    display: inline;
}

.menupadding{
  padding-top: 100px;
}

#tilbehorlogostyle{
  height: 3vh;
}

.title-style {
  background-color: rgb(218,17,17);
  font-family: Arial;
  font-weight: bold;
}

@media screen and (max-width: 420px) {
  .table, .descrip_pizza, .descrip_extras {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 350px) {
  #show_address{
    display: inline;
  }

  #show_map{
    display: none;
  }
  .table {
    font-size: 0.53rem;
  }
}


@media screen and (max-width: 600px) {
  #kontakt {
    background-image: url(/static/models.jpg);
    max-width: 100%;
    height: auto;
  }

  #tlfheader{
    display: none;
  }

}

#descrip{
  font-size: 20px;
}

#descrip_extras{
  font-size: 1rem;
}

.footer {
  background-color: rgb(20,20,20);
}

.footer p {
  font-size: 14px;
  border-left: 1px solid white;
}

.footer a {
  color: white;
}

.footer a:hover {
  color: lightgrey;
}

#gmap{
  margin-bottom: 20px;
}
