<!DOCTYPE html>
<html lang="no" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Saltnes grill og pizza</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{url_for('static', filename ='css/main.css')}}" type="text/css">
    <link rel="stylesheet" href="{{url_for('static', filename ='css/animation.css')}}" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>
  <body>
    <div class="container">
      <div class="row mb-5">
        <div class="col-12" align="center">
          <a href="{{url_for('home')}}">
            <img src="{{url_for('static',filename='logo.png')}}" alt="logo" class="mt-5" style="height: 10vh;" id="logobrand">
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-12" align="center">
          <hr>
          <h2 class="text-dark font-weight-bold mb-5">Legg til i menyen</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-4" align="center">
          <form class="form-group" action="{{url_for('addpizza')}}">
            <input type="submit" class="btn btn-warning" value="Legg til pizza">
          </form>
        </div>
        <div class="col-4" align="center">
          <form class="form-group" action="{{url_for('addthai')}}">
            <input type="submit" class="btn btn-warning" value="Legg til thaimat">
          </form>
        </div>
        <div class="col-4" align="center">
          <form class="form-group" action="{{url_for('addgrill')}}">
            <input type="submit" class="btn btn-warning" value="Legg til grillmat">
          </form>
        </div>
      </div>
      <hr>
      <div class="row mt-5">
        <div class="col-12" align="center">
          <hr>
          <h2 class="text-dark font-weight-bold mb-5">Endre rett på menyen</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-4" align="center">
          <form class="form-group" action="{{url_for('edit_pizza')}}">
            <input type="submit" class="btn btn-warning" value="Endre på en pizza">
          </form>
        </div>
        <div class="col-4" align="center">
          <form class="form-group" action="{{url_for('edit_thai')}}">
            <input type="submit" class="btn btn-warning" value="Endre på en thaimat">
          </form>
        </div>
        <div class="col-4" align="center">
          <form class="form-group" action="{{url_for('edit_grill')}}">
            <input type="submit" class="btn btn-warning" value="Endre på en grillmat">
          </form>
        </div>
      </div>
      <hr>
      <div class="row mt-5">
        <div class="col-12" align="center">
          <hr>
          <h2 class="text-dark font-weight-bold mb-5">Slett fra menyen</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-4" align="center">
          <form class="form-group" action="{{url_for('delete_pizza')}}">
            <input type="submit" class="btn btn-warning" value="Slett en pizza">
          </form>
        </div>
        <div class="col-4" align="center">
          <form class="form-group" action="{{url_for('delete_thai')}}">
            <input type="submit" class="btn btn-warning" value="Slett thaimat">
          </form>
        </div>
        <div class="col-4" align="center">
          <form class="form-group" action="{{url_for('delete_grill')}}">
            <input type="submit" class="btn btn-warning" value="Slett grillmat">
          </form>
        </div>
      </div>
      <hr>
      <div class="row mt-5">
        <div class="col-12" align="center">
          <hr>
          <h2 class="text-dark font-weight-bold mb-5">Endre på informasjon</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-6" align="center">
          <form class="form-group" action="{{url_for('edit_info_pizza')}}">
            <input type="submit" class="btn btn-warning btn-large" value="Endre info om pizza">
          </form>
        </div>
        <div class="col-6" align="center">
          <form class="form-group" action="{{url_for('edit_info_thai')}}">
            <input type="submit" class="btn btn-warning btn-large" value="Endre info om thaimat">
          </form>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-12">
          <p class="text-dark">Kjapp viktig info: <br>
          Om du skal legge til en matrett som nummer 1, husk å slette retten som allerede finnes med det nummeret først.<br>
          For å endre allergener på en matrett så må du først huke av at du skal endre på allergener, om ikke så blir denne allergi endringen ignorert.</p>
        </div>
      </div>
    </div>
  </body>
</html>
