<!DOCTYPE html>
<html lang="no" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Saltnes grill og pizza</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{url_for('static', filename ='css/main.css')}}" type="text/css">
    <link rel="stylesheet" href="{{url_for('static', filename ='css/animation.css')}}" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-12" align="center">
          <a href="{{url_for('home')}}">
            <img src="{{url_for('static',filename='logo.png')}}" alt="logo" class="mt-5" style="height: 10vh;" id="logobrand">
          </a>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-12">
          <a href="{{url_for('add_confirm')}}"><button type="button" class="btn btn-warning" name="button">Tilbake</button></a>
        </div>
      </div>
      <div class="row">
        <div class="col-12" align="center">
          <hr class="mt-5">
          <h2 class="text-dark font-weight-bold">{{ title }}</h2>
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <form class="text-dark form-group" method="post">
            {{ form.hidden_tag() }}
            {{ form.idDel.label(class='font-weight-bold') }}
            {{ form.idDel(class='form-control') }}
            <br>
            {{ form.del_confirm(style="list-style-type:none;",class="pl-0") }}
            {{ form.submit(class='btn btn-warning') }}
          </form>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-12">
          <h3 class="text-dark">Nåværende meny:</h3>
          {% for item in menu %}
          <h5 class="text-dark mt-5"><strong>{{item.id}}: {{item.title}}</strong></h5><p class="text-dark"><span><em>
            {% if item.price_small %}
          </em><strong>Liten: </strong><em>{{item.price_small}},-
            {% endif %}
            {% if item.price_medium %}
          </em><strong>Medium: </strong><em>{{item.price_medium}},-
            {% endif %}
            {% if item.price_large %}
          </em><strong>Stor: </strong><em>{{item.price_large}},-
            {% endif %}
            {% if item.price %}
          </em><strong>Pris: </strong><em>{{item.price}},-
            {% endif %}
          </em></span><br>
          {% if item.description[0] == " " %}
          <strong>Beskrivelse: </strong><em>(Dette produktet har ingen beskrivelse)</em><br>
          {% else %}
          <strong>Beskrivelse: </strong>{{item.description}}<br>
          {% endif %}
          <strong>Allergener: </strong>{{item.allergies}}</p>
          {% endfor %}
        </div>
      </div>
    </div>
  </body>
</html>
