{% extends "base.html"%}
{% block content%}

<div class="main" id="pizza">
  <div class="container menupadding" align="center">
    <img src="{{url_for('static',filename='pizza-icon.png')}}" alt="" class="mb-5 img-fluid">
    <!-- <h1 class="display-5 title-style">PIZZAMENY</h1> -->
    <p class="descrip_pizza mb-5">Alle pizzaer er laget med våre egne bunner, vår egen saus og vår egen osteblanding!<br>
    <strong>Medium pizza: {%for item in pizzainformation%}{{item.medium_pizza_price}}{%endfor%},-</strong> <em>Kan også bestilles glutenfritt.</em><br></p>
    <p>Hver <u>tiende</u> pizza får du gratis. Husk stempel!</p>
    <table class="table" style="color: white;">
      <thead>
        <tr align="left">
          <th scope="col">Navn</th>
          <th scope="col">Ingredienser</th>
          <th scope="col">Pris</th>
        </tr>
      </thead>
      <tbody>
        {%for pizza in pizzamenu%}
        <tr align="left">
        <th scope="row"><strong>{{pizza.id}}. {{pizza.title}}</strong></th>
        <td>{{pizza.description}}<br><span style="color:rgb(255,0,0)">Allergener: {% for i in pizza.allergies.split( ) %}{{i}}{% if not loop.last%}, {%endif%}{% endfor %}</span></td>
        <td>{{pizza.price}}</td>
        </tr>
        {%endfor%}
      </tbody>
    </table>
    <div class="container">
      <img src="{{url_for('static',filename='tilbehorlogo.png')}}" class="mb-3 img-fluid" id="tilbehorlogostyle">
      <div class="row">
        <div class="col-6">
          {% for item in pizzainformation %}
          <p class="descrip_extras" align="right"><strong>Rød saus: {{item.price_red_sauce}}</strong></p>
          <p class="descrip_extras" align="right"><strong>Hvit saus: {{item.price_white_sauce}}</strong></p>
        </div>
        <div class="col-6">
          <p class="descrip_extras" align="left"><strong>Ekstra kjøtt: {{item.pizza_extra_meat}}</strong></p>
          <p class="descrip_extras" align="left"><strong>Ekstra ost: {{item.pizza_extra_cheese}}</strong></p>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main" id="grill">
  <div class="container menupadding" align="center">
    <img src="{{url_for('static',filename='grill-icon.png')}}" alt="" class="mb-5 img-fluid">
    <!-- <h1 class="display-5 title-style">GRILLMENY</h1> -->
    <p align="left">Våre hamburgerer har følgende størrelser: 100g (Liten), 160g (Medium) og 250g (Stor)</p>
    <table class="table" style="color: white; word-wrap: break-word; table-layout: fixed;">
      <thead>
        <tr align="left">
          <th scope="col" style="width: 20%;">Navn</th>
          <th scope="col" style="width: 20%;">Info</th>
          <th scope="col"  style="width: 10%;">L</th>
          <th scope="col" style="width: 10%;">M</th>
          <th scope="col" style="width: 10%;">S</th>
        </tr>
      </thead>
      <tbody>
        {%for grill in grillmenu%}
        <tr align="left">
        <th scope="row"><strong>{{grill.id}}. {{grill.title}}</strong></th>
        <td>{{grill.description}}<br><span style="color:rgb(255,0,0)">{% if grill.allergies.split( ) %}Allergener: {% for i in grill.allergies.split( ) %}{{i}}{% if not loop.last%}, {%endif%}{% endfor %}{% endif %}</span></td>
        <td>{{grill.price_small}}{% if grill.price_small %}{% endif %}</td>
        <td>{{grill.price_medium}}{% if grill.price_medium %}{% endif %}</td>
        <td>{{grill.price_large}}{% if grill.price_large %}{% endif %}</td>
        </tr>
        {%endfor%}
      </tbody>
    </table>
  </div>
</div>
<div class="main" id="grillmenyer">
  <div class="container menupadding" align="center">
    <img src="{{url_for('static',filename='grillmeny-icon.png')}}" alt="" class="mb-5 img-fluid">
    <p align="left">Våre hamburgerer har følgende størrelser: 100g (Liten), 160g (Medium) og 250g (Stor)</p>
    <table class="table" style="color: white; word-wrap: break-word; table-layout: fixed;">
      <thead>
        <tr align="left">
          <th scope="col" style="width: 20%;">Navn</th>
          <th scope="col" style="width: 20%;">Info</th>
          <th scope="col"  style="width: 10%;">L</th>
          <th scope="col" style="width: 10%;">M</th>
          <th scope="col" style="width: 10%;">S</th>
        </tr>
      </thead>
      <tbody>
        {%for grill in grilltallerken%}
        <tr align="left">
        <th scope="row"><strong>{{grill.id}}. {{grill.title}}</strong></th>
        <td>{{grill.description}}<br><span style="color:rgb(255,0,0)">{% if grill.allergies.split( ) %}Allergener: {% for i in grill.allergies.split( ) %}{{i}}{% if not loop.last%}, {%endif%}{% endfor %}{% endif %}</span></td>
        <td>{{grill.price_small}}{% if grill.price_small %}{% endif %}</td>
        <td>{{grill.price_medium}}{% if grill.price_medium %}{% endif %}</td>
        <td>{{grill.price_large}}{% if grill.price_large %}{% endif %}</td>
        </tr>
        {%endfor%}
      </tbody>
    </table>
  </div>
</div>
<div class="main" id="thai">
  <div class="container menupadding" align="center">
    <img src="{{url_for('static',filename='thai-icon.png')}}" alt="" class="mb-5 img-fluid">
    <!-- <h1 class="display-5 title-style">THAIMENY</h1> -->
    <table class="table mb-5" style="color: white;">
      <thead>
        <tr align="left">
          <th scope="col">Navn</th>
          <th scope="col">Ingredienser</th>
          <th scope="col">Pris</th>
        </tr>
      </thead>
      <tbody>
        {%for thai in thaimenu%}
        <tr align="left">
        <th scope="row"><strong>{{thai.id}}. {{thai.title}}</strong></th>
        <td>{{thai.description}}<br><span style="color:rgb(255,0,0)">Allergener: {% for i in thai.allergies.split( ) %}{{i}}{% if not loop.last%}, {%endif%}{% endfor %}</span></td>
        <td>{{thai.price}}</td>
        </tr>
        {%endfor%}
      </tbody>
    </table>
    <p class="descrip_extras" align="left"><strong>{% for item in thaiinformation %}Ekstra kjøtt: {{item.thai_extra_meat}},- <br>Ekstra ris: {{item.thai_extra_rice}},-{%endfor%}</strong></p>
  </div>
</div>
<div class="main" id="kontakt">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="mt-5">
          <br>
          <h1 id="h1_welcome"><u>Info</u></h1>
          <br>
          <p id="descrip"><strong>Telefon:</strong> 69282383</p>
          <br>
          <h4 class="mb-4"><strong>Åpningstider:</strong></h4>
          <p id="descrip">Mandag-fredag: 14:00 - 22:00</p>
          <p id="descrip">Lørdag-søndag: 12:00 - 22:00</p>
          <br>
        </div>
      </div>
      <div class="col-12 col-md-6" id="gmap">
        <div class="mt-5">
          <br>
          <!-- <span id="show_map">
            <div class="mapouter"><div class="gmap_canvas"><iframe width="350" height="300" id="gmap_canvas" src="https://maps.google.com/maps?q=Grendehusveien%202&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.pureblack.de"></a></div><style>.mapouter{position:relative;text-align:right;height:300px;width:350px;}.gmap_canvas {overflow:hidden;background:none!important;height:300px;width:350px;}</style></div>
          </span> -->
          <span id="show_address">
            <p id="descrip"><strong>Adresse:</strong></p>
            <p id="descrip">Grendehusveien 2, 1642 Saltnes</p>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid footer" style="background-color: rgb(20,20,20);">
  <div class="row">
    <div class="col-12">
      <p class="mt-3 pl-2">Designet av Bjørn Arild Lunde & Emil Gabrielli<br></p>
    </div>
  </div>
</div>
{% endblock %}
