{% extends "base.html"%}
{% block content%}

<div class="main" id="pizza">
  <div class="container menupadding">
    <h1 class="display-5 title-style">PIZZAMENY</h1>
    <table class="table" style="color: white;">
      <thead>
        <tr>
          <th scope="<col>">Navn</th>
          <th scope="<col>">Ingredienser</th>
          <th scope="<col>">Pris</th>
        </tr>
      </thead>
      <tbody>
          {%for pizza in pizzamenu%}
        <tr>
        <th scope="row"><b>{{pizza.id}}. {{pizza.title}}</b></th>
        <td class="font-weight-bold">{{pizza.description}}</td>
        <td class="font-weight-bold">{{pizza.price}},-</td>
        </tr>
        {%endfor%}
      </tbody>
    </table>
  </div>
</div>
<div class="main" id="grill">
  <div class="container menupadding">
    <h1 class="display-5 title-style">GRILLMENY</h1>
    <table class="table" style="color: white;">
      <thead>
        <tr>
          <th scope="<col>">Navn</th>
          <th scope="<col>">Info</th>
          <th scope="<col>">L</th>
          <th scope="<col>">M</th>
          <th scope="<col>">S</th>
        </tr>
      </thead>
      <tbody>
          {%for grill in grillmenu%}
        <tr>
        <th scope="row"><b>{{grill.id}}. {{grill.title}}</b></th>
        <td>{{grill.description}}</td>
        <td>{{grill.price_small}}</td>
        <td>{{grill.price_medium}}</td>
        <td>{{grill.price_large}}</td>
        </tr>
        {%endfor%}
      </tbody>
    </table>
  </div>
</div>
<div class="main" id="thai">
  <div class="container menupadding">
    <h1 class="display-5 title-style">THAIMENY</h1>
    <table class="table" style="color: white;">
      <thead>
        <tr>
          <th scope="<col>">Navn</th>
          <th scope="<col>">Ingredienser</th>
          <th scope="<col>">Pris</th>
        </tr>
      </thead>
      <tbody>
          {%for thai in thaimenu%}
        <tr>
        <th scope="row"><b>{{thai.id}}.{{thai.title}}</b></th>
        <td>{{thai.description}}</td>
        <td>{{thai.price}}</td>
        </tr>
        {%endfor%}
      </tbody>
    </table>
  </div>
</div>
<div class="main" id="kontakt">
  <div class="container">
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="mt-5">
        <br>
        <h1 id="h1_welcome"><u>Kontakt oss</u></h1>
        <br>
        <p id="descrip"><b>Telefon:</b> 69282383</p>
        <br>
        <p id="descrip"><b>Åpningstider:</b></p>
        <p id="descrip">Mandag-fredag: 14:00 - 22:00</p>
        <p id="descrip">Lørdag-søndag: 12:00 - 22:00</p>
        <br>
      </div>
    </div>
    <div class="col-12 col-md-6" id="gmap">
      <div class="mt-5">
        <br>
        <span id="show_map">
          <div class="mapouter"><div class="gmap_canvas"><iframe width="350" height="300" id="gmap_canvas" src="https://maps.google.com/maps?q=Grendehusveien%202&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.pureblack.de"></a></div><style>.mapouter{position:relative;text-align:right;height:300px;width:350px;}.gmap_canvas {overflow:hidden;background:none!important;height:300px;width:350px;}</style></div>
        </span>
        <span id="show_address">
          <p id="descrip"><b>Adresse:</b></p>
          <p id="descrip">Grendehusveien 2, 1642 Saltnes</p>
        </span>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
