<!DOCTYPE html>
<html lang="no" dir="ltr">
  <head>
    <head>
      <meta charset="utf-8">
      <title>Saltnes grill og pizza</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="{{url_for('static', filename ='css/main.css')}}" type="text/css">
      <link rel="stylesheet" href="{{url_for('static', filename ='css/animation.css')}}" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">

      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <style>
        .card {
          box-shadow: 0px 30px 30px #999999;
        }
      </style>
    </head>
  </head>
  <body>
    <div class="container">
      <div class="row" align="center">
        <div class="col-12">
          <div class="card m-5" style="width: 30rem;">
            <img src="{{url_for('static',filename='logo.png')}}" alt="logo" class="mt-5 mb-5" style="width:30vh;">
            <div class="card-body">
              <h2 class="card-title text-dark font-weight-bold" align="center">Logg inn</h2>
            </div>
            {% if session['login_msg'] %}
            <p class="text-danger ml-4" align="left"><strong>{% for i in session['login_msg'] %}{{i}}<br>{%endfor%}</strong></p>
            {% endif %}
            <form class="text-dark form-group" method="POST">
              {{ form.hidden_tag() }}
              <ul class="list-group list-group-flush">
                <li class="list-group-item text-dark font-weight-bold" align="left">{{ form.brukernavn.label }}<br>
                  {{ form.brukernavn(class="form-control") }}</li>
                <li class="list-group-item text-dark font-weight-bold" align="left">{{ form.passord.label }}<br>
                  {{ form.passord(class="form-control") }}</li>
              </ul>
              <div class="card-body">
                {{ form.submit(class="btn btn-primary btn-block") }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </body>
  </html>
