{% extends "base.html"%}
{% block content%}

<div class="container">

  <div class="row" align="center">
    <div class="col-4" align="center">
      <div class="mt-4">
        <h3><u>Pizza</u></h3>
      </div>
    </div>
    <div class="col-4" align="center">
      <div class="mt-4" align="center">
        <h3><u>Grill</u></h3>
      </div>
    </div>
    <div class="col-4" align="center">
      <div class="mt-4" align="center">
        <h3><u>Thai</u></h3>
      </div>
    </div>
  </div>

  <div class="row" align="center">
    <div class="col-4" align="center">
      <div class="mt-4" align="center">
        <ol>
          <li><h5>NORGE SPESIAL</h5> <b>Marinert biff, skinke, bacon, pepperoni, løk og champignon.</b><br>210,- </li>
          <br>
          <li><h5>SALTNES SPESIAL</h5> <b>Skinke, salami, kjøttboller, paprika, løk jalapeños og champignon.</b><br>210,- </li>
          <br>
          <li><h5>TACO MEXICANA</h5> <b>Meksikansk kjøttdeig, løk, tomat, paprika, jalapeños, tacokrydder og mais.
Toppes med tacoshell.</b><br>210,- </li>
          <br>
          <li><h5>THAI CHICKEN</h5> <b>Thai-marinert kylling, cashewnøtter, ananas, purreløk, jalapeños og søt
chillisaus. Toppes med limebåter.</b><br>230,- </li>
          <br>
          <li><h5>CASABLANCA</h5> <b>Kjøttboller, skinke, pepperoni, bacon og champignon.</b><br>210,- </li>
        </ol>
      </div>
    </div>
    <div class="col-4" align="center">
      <div class="mt-4" align="center">
        <ol>
          <li><h5>HAMBURGER</h5> <b>Med dressing</b><br>100g - 75,- <br> 160g - 100,- <br> 250g - 110 ,-</li>
          <br>
          <li><h5>KEBAB I PITABRØD</h5> <b>Med dressing og kebabsaus</b><br> Liten - 85,- <br> Stor - 95,-</li>
          <br>
          <li><h5>KYLLING I PITABRØD</h5> <b>Med dressing</b><br>120,- </li>
          <br>
          <li><h5>KEBABRULL</h5> <b>Med dressing og kebabsaus</b><br>95,- </li>
          <br>
          <li><h5>KYLLINGRULL</h5> <b>Med dressing og kebabsaus</b><br>120,- </li>
        </ol>
      </div>
    </div>
    <div class="col-4" align="center">
      <div class="mt-4" align="center">
        <ol>
          <li><h5>STEKT RIS </h5> <b>Med kjøtt (150g) og grønnsaker.</b><br>115,-</li>
          <br>
          <li><h5>PAD THAI</h5> <b>Stekte thainudler med kjøtt (150g) og egg.</b><br> 125,-</li>
          <br>
          <li><h5>PAD PRIK SOD</h5> <b>Stekt kjøtt (200g) med rød chili og grønnsaker.</b><br>150,- </li>
          <br>
          <li><h5>PAD KHING</h5> <b>Stekt kjøtt (200g) med ingefær og grønnsaker.</b><br>150,- </li>
          <br>
          <li><h5>PAD MEDMEMUANG</h5> <b>Stekt kjøtt (200g) med rød karri og grønnsaker.</b><br>150,- </li>
        </ol>
      </div>
    </div>
  </div>
</div>
{% endblock %}
